/.gradle/
/.kotlin/
/build/
/android/.gradle/
/android/.kotlin/
/android/build/
/android/app/build/
/android/local.properties
/server/build/
/server/.gradle/
/server/.kotlin/
/server/target/
/server/.env
/.idea/
*.iml
.DS_Store
/captures/
*.apk
*.ap_
*.aab
.cxx/
